# INIT KINTO
KINTO_BASE_URL=kinto-server

# API +  INIT KINTO
# avec `yarn start`
KINTO_URL=http://localhost:8888/v1
# avec `docker-compose up`
# KINTO_URL=http://kinto-server:8888/v1

KINTO_LOGIN=admin
KINTO_PASSWORD=passw0rd

# API
DS_TOKEN=*****
API_PORT=1337
SCHEDULER_CRON_TASK=0 0 * * * *
SCHEDULER_CRON_DS=0 0 15 * * *
API_PREFIX=2612075016
SENTRY_ENABLED=true
SENTRY_DSN=https://<key>@sentry.io/<project>
